*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition:0.2s;
  color: #ffffff;
}
header:hover{
  transition:0.2s;
  background-color: #0F0F0F;
}
#logo{
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  font-weight: 900;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
#user-button{
  width: 30px;
  height: 30px;
  border-radius:50%;
  background-color: transparent;
  border: 3px solid #FE6CDE;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.menu-buttons{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
main{
  padding: 0px 2vw;
  background-image: url("../img/cenicienta.jfif");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}
#main-movie{
  transform: translateY(40%);
}
h2{
  color: white;
  font-size: 50px;
}
.play-button{
  width: 50px;
  height:50px;
  border-radius: 50%;
  background-color: #673EE9;
  border: none;
  color: white;
}
.more-info{
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 1em;
  background-color: rgba(256, 256, 256, .2);
  letter-spacing: 2px;
}
.more-info:hover{
  background-color: #673EE9;
}
p{
  margin-bottom: 20px;
}
#the-soprano{
  background-image: url('../img/soprano.jfif');
  width: 200px;
  height: 200px;
}
.options-movie{
  background-image: url('../img/fondo\ cards.png');
  opacity: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.options-movie:hover{
opacity: 1;
}
#recent-movies{
  padding-bottom: 20px;
}